/* COUNT DOWN TIMER ANIMATE */
.count {
  perspective: 500px;
  transform: translateZ(0);
}

.count span {
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: 0 1.25rem 0;

  @apply w-full bg-timer shadow-timer-item;
}

.count span::before {
  content: '';
  position: absolute;
  left: 0;

  width: 100%;
}

.count span::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.next-bottom {
  transform: rotate3d(1, 0, 0, 90deg);
}

.changing .current-top {
  transform: rotate3d(1, 0, 0, -90deg);
  transition:
    transform 0.2625s ease-in,
    box-shadow 0.2625s ease-in;
}

.changing .next-bottom,
.changed .next-bottom {
  box-shadow: 0 0 0 0 transparent;
  transition:
    box-shadow 0.175s cubic-bezier(0.375, 1.495, 0.61, 0.78) 0.35s,
    transform 0.35s cubic-bezier(0.375, 1.495, 0.61, 0.78) 0.35s;

  transform: rotate3d(1, 0, 0, 0);
}

.changed .current-top,
.changed .current-bottom {
  display: none;
}

/* LIGHT STICK ANIMATE */
.battle-lights-container {
  position: relative;
  pointer-events: none;
}

.battle-lights {
  position: absolute;
  top: calc(-3rem - 5.8rem - 0.2rem); /* home-padding + container-width + offset */
  bottom: 0;
  width: 400px;
  opacity: 0.75;
}

.battle-lights-container--finished .battle-lights {
  opacity: 1;
}

.battle-lights--left {
  left: -500px;
  transform: scaleX(-1);
}

.battle-lights--right {
  right: -500px;
}

.battle-lights:after,
.battle-lights:before {
  --clr-1: #82ff37;
  --clr-2: rgba(255, 223, 0, 0);

  background: radial-gradient(64.96% 73.28% at 0% 50%, var(--clr-1) 0%, var(--clr-2) 100%);
}

.battle-lights-container--finished .battle-lights:after,
.battle-lights-container--finished .battle-lights:before {
  --clr-1: rgb(232, 67, 67);
  --clr-2: rgba(255, 223, 0, 0);
}

.battle-lights-container--upcoming .battle-lights:after,
.battle-lights-container--upcoming .battle-lights:before {
  --clr-1: rgb(95, 95, 255);
  --clr-2: rgba(255, 223, 0, 0);
}

.battle-lights:after,
.battle-lights:before {
  content: '';
  position: absolute;
  inset: 0;
  top: 50%;
  border-radius: 50%;
  transform-origin: left center;
  animation-name: lights-rotate;
  animation-duration: 2s;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.battle-lights--1:after {
  filter: blur(20px);
  opacity: 0.15;
  height: 140px;
  animation-delay: 0.05;
}

.battle-lights--1:before {
  filter: blur(20px);
  opacity: 0.15;
  height: 66px;
  animation-delay: 0.1;
}

.battle-lights--2:after {
  filter: blur(12px);
  opacity: 0.5;
  height: 60px;
  width: 200px;
  animation-delay: 0.15;
}

.battle-lights--2:before {
  filter: blur(4px);
  opacity: 0.5;
  height: 16px;
  width: 80px;
  animation-delay: 0.2;
}

@keyframes lights-rotate {
  0% {
    transform: translateY(-50%) rotate(145deg);
  }
  100% {
    transform: translateY(-50%) rotate(75deg);
  }
}

/* FORM ITEM HIGHLIGHT LABEL */
.form-item-container:has(*:focus) label {
  color: var(--clr-brand) !important;
}

/* CARDS LIST HOVER ANIMATE */
.card-item {
  transition:
    opacity 0.25s ease,
    box-shadow 0.25s ease,
    transform 0.25s ease,
    z-index 0.25s ease 0.25s !important;
}

.card-item:hover {
  opacity: 100% !important;
}

/* ROOT NOTIFICATION SIDE BLUR */
.root-noti {
  -webkit-mask-image: linear-gradient(90deg, transparent, #fff 25px, #fff calc(100% - 25px), transparent);
  mask-image: linear-gradient(90deg, transparent, #fff 25px, #fff calc(100% - 25px), transparent);
}

/* PLUS AVATAR MASK */
.plus-avatar-mask {
  mask-image: linear-gradient(to top, transparent 13px, white 13px),
    linear-gradient(
      to right,
      white calc(50% - 18px),
      transparent calc(50% - 18px),
      transparent calc(50% + 18px),
      white calc(50% + 18px)
    );
  mask-size: 100% 100%;
  mask-position: bottom;
  mask-repeat: no-repeat;
  border-radius: 50%;
}

/* UPGRADE TO PLUS BUTTON */
.button__border {
  --btn-size: 158px;
  --offset: calc(var(--btn-size) / 10);
  --main-color-rgb: 255, 223, 0;
  position: absolute;
  inset: 0;
  border-radius: 99999px;
  pointer-events: none;
  -webkit-mask:
    linear-gradient(#fff 0 0) padding-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  border: 1px solid rgba(var(--main-color-rgb), 0.2);
  background: conic-gradient(
      from calc(var(--border-rotation) - 80deg) at var(--border-x) 22px,
      rgba(var(--main-color-rgb), 0) 0,
      rgba(var(--main-color-rgb), 0.8) 30%,
      hsla(0, 0%, 69%, 0) 45%
    )
    border-box;
  animation:
    border-rotation -0.64s linear 6s infinite,
    border-x -0.64s linear 6s infinite;
}

@property --border-x {
  syntax: '<length>';
  inherits: false;
  initial-value: 0px;
}

@property --border-rotation {
  syntax: '<angle>';
  inherits: false;
  initial-value: 0deg;
}

@keyframes border-x {
  0% {
    --border-x: var(--offset);
  }
  32.82275711% {
    --border-x: var(--btn-size);
  }
  50% {
    --border-x: var(--btn-size);
  }
  82.82275711% {
    --border-x: var(--offset);
  }
  100% {
    --border-x: var(--offset);
  }
}

@keyframes border-rotation {
  0% {
    --border-rotation: 0deg;
  }
  32.82275711% {
    --border-rotation: 0deg;
  }
  50% {
    --border-rotation: 180deg;
  }
  82.82275711% {
    --border-rotation: 180deg;
  }
  100% {
    --border-rotation: 360deg;
  }
}

/* PLUS USER HOVER */
.side-leaderboard-item:hover .plus-badge,
.plus-badge:hover {
  filter: drop-shadow(0 0 14px yellow);
}

/* LEADERBOARD TOP USER PODIUM */
.top-user {
  border-width: 1.5px;
  border-style: solid;
  border-image: linear-gradient(180deg, hsla(0, 0%, 100%, 0.2), hsla(0, 0%, 100%, 0)) 1;
}

.top-user::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  @apply bg-top-user-after;
}

/* MAIN PROFILE BACKGROUND FILTER */
.profile-stats::before {
  inset: 0;
  content: '';
  position: absolute;
  border-radius: 16px;
  border: 2px solid var(--clr-border);
  -webkit-mask-image: radial-gradient(circle at center -1rem, transparent 0, transparent 1.75rem, #fff 0, #fff 100%);
  mask-image: radial-gradient(circle at center -1rem, transparent 0, transparent 1.75rem, #fff 0, #fff 100%);
  pointer-events: none;
}
