*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: 'ClashGrotesk', sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  scrollbar-gutter: stable both-edges;
}

.flex-center {
  @apply flex items-center justify-center;
}

.app-icon p {
  font-family: 'Saira Stencil One';
}

.font-secondary {
  font-family:
    IBMPlexMono,
    Menlo,
    DejaVu Sans Mono,
    Lucida Console,
    monospace;
}

.form-item-container:has(*:focus) label {
  color: var(--clr-brand) !important;
}

.button__border {
  --btn-size: 158px;
  --offset: calc(var(--btn-size) / 10);
  --main-color-rgb: 255, 223, 0;
  position: absolute;
  inset: 0;
  border-radius: 99999px;
  pointer-events: none;
  -webkit-mask:
    linear-gradient(#fff 0 0) padding-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  border: 1px solid rgba(var(--main-color-rgb), 0.2);
  background: conic-gradient(
      from calc(var(--border-rotation) - 80deg) at var(--border-x) 22px,
      rgba(var(--main-color-rgb), 0) 0,
      rgba(var(--main-color-rgb), 0.8) 30%,
      hsla(0, 0%, 69%, 0) 45%
    )
    border-box;
  animation:
    border-rotation -0.64s linear 6s infinite,
    border-x -0.64s linear 6s infinite;
}

.root-noti {
  -webkit-mask-image: linear-gradient(90deg, transparent, #fff 25px, #fff calc(100% - 25px), transparent);
  mask-image: linear-gradient(90deg, transparent, #fff 25px, #fff calc(100% - 25px), transparent);
}

.plus-avatar-mask {
  mask-image: linear-gradient(to top, transparent 13px, white 13px),
    linear-gradient(
      to right,
      white calc(50% - 18px),
      transparent calc(50% - 18px),
      transparent calc(50% + 18px),
      white calc(50% + 18px)
    );
  mask-size: 100% 100%;
  mask-position: bottom;
  mask-repeat: no-repeat;
  border-radius: 50%;
}

.side-leaderboard-item:hover .plus-badge,
.plus-badge:hover {
  filter: drop-shadow(0 0 14px yellow);
}

.top-user {
  border-width: 1.5px;
  border-style: solid;
  border-image: linear-gradient(180deg, hsla(0, 0%, 100%, 0.2), hsla(0, 0%, 100%, 0)) 1;
}

.top-user::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  @apply bg-top-user-after;
}

@property --border-x {
  syntax: '<length>';
  inherits: false;
  initial-value: 0px;
}

@property --border-rotation {
  syntax: '<angle>';
  inherits: false;
  initial-value: 0deg;
}

@keyframes border-x {
  0% {
    --border-x: var(--offset);
  }
  32.82275711% {
    --border-x: var(--btn-size);
  }
  50% {
    --border-x: var(--btn-size);
  }
  82.82275711% {
    --border-x: var(--offset);
  }
  100% {
    --border-x: var(--offset);
  }
}

@keyframes border-rotation {
  0% {
    --border-rotation: 0deg;
  }
  32.82275711% {
    --border-rotation: 0deg;
  }
  50% {
    --border-rotation: 180deg;
  }
  82.82275711% {
    --border-rotation: 180deg;
  }
  100% {
    --border-rotation: 360deg;
  }
}
